@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;700&family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Digital-7";
  src: url("/assets/fonts/digital-7.ttf");
}

body {
  font-family: "Inter", sans-serif;
  background: #fe702f;
  background-image: linear-gradient(
    to right top,
    #4c006e,
    #a30068,
    #df2550,
    #fe702f,
    #ffb800
  );
}

sup {
  font-size: 0.5em;
}

.calculator-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-card {
  width: 280px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e4e4e4;
  border: 6px solid #c9c9c9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 4px -4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.calculator-title h1 {
  padding: 10px 0;
  color: #817c75;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.calculator-title span {
  color: #f1783f;
}

.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  height: 65px;
  font-family: "Digital-7", sans-serif;
  color: #72736e;
  background: #dde1cc;
  border: 4px solid #a3a3a3;
  box-shadow: 0px 0px 0px 5px #cccccc, 2px 2px 0px #e0e0e0,
    inset 4px 4px 5px #404235;
  border-radius: 10px;
}

.calculator-display-datetime {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  padding-bottom: 0;
  font-size: 12px;
}

.calculator-display-result {
  height: 30px;
  padding: 6px;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 2px;
}

.calculator-buttons-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator-button {
  width: 44px;
  height: 37px;
  border-radius: 10px;
  margin: 6px;
  font-weight: 400;
  font-size: 18px;
  color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calculator-button:active {
  filter: brightness(110%);
}

.color-primary {
  background: linear-gradient(180deg, #7a7a7a 0%, #525252 100%);
  box-shadow: 0px 0px 0px 2px #b0b0b0, 0px 0px 0px rgba(60, 60, 60, 0.25),
    inset -1px -2px 0px 2px rgba(60, 60, 60, 0.5);
}

.color-secondary {
  background: linear-gradient(180deg, #ffa03f 0%, #eb673f 100%);
  box-shadow: 0px 0px 0px 2px #b0b0b0, 0px 0px 0px rgba(187, 81, 54),
    inset -1px -2px 0px 2px rgba(187, 81, 54);
}

@media (min-width: 576px) {
  .calculator-card {
    width: 455px;
    height: 700px;
  }

  .calculator-title h1 {
    font-size: 24px;
    padding: 20px 0;
  }

  .calculator-display {
    width: 358px;
    height: 102px;
    border-radius: 20px;
  }

  .calculator-display-datetime {
    padding: 10px 15px;
    padding-bottom: 0;
    font-size: 20px;
  }

  .calculator-display-result {
    height: 60px;
    padding: 10px;
    font-size: 50px;
  }

  .calculator-buttons-container {
    margin-top: 50px;
  }

  .calculator-button {
    width: 75px;
    height: 65px;
    border-radius: 15px;
    margin: 10px;
    font-size: 35px;
  }
}
